/* ie 隐藏滚动条 */
.__context__menu__box {
  -ms-scroll-chaining: chained;
  -ms-overflow-style: none;
  -ms-content-zooming: zoom;
  -ms-scroll-rails: none;
  -ms-content-zoom-limit-min: 100%;
  -ms-content-zoom-limit-max: 500%;
  -ms-scroll-snap-type: proximity;
  -ms-scroll-snap-points-x: snapList(100%, 200%, 300%, 400%, 500%);
  -ms-overflow-style: none;
  scrollbar-base-color: rgba(0, 0, 0, 0);
  scrollbar-3dlight-color: rgba(0, 0, 0, 0);
  scrollbar-highlight-color: rgba(0, 0, 0, 0);
  scrollbar-track-color: rgba(0, 0, 0, 0);
  scrollbar-arrow-color: rgba(0, 0, 0, 0);
  scrollbar-shadow-color: rgba(0, 0, 0, 0);
  scrollbar-dark-shadow-color: rgba(0, 0, 0, 0);

  overflow: -moz-scrollbars-none;
}

/* webkit 隐藏滚动条 */
.__context__menu__box::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.__context__menu__box::-webkit-scrollbar-button {
  background-color: rgba(0, 0, 0, 0);
}
.__context__menu__box::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
.__context__menu__box::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0);
}
.__context__menu__box::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
}
.__context__menu__box::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0);
}
.__context__menu__box::-webkit-scrollbar-resizer {
  background-color: rgba(0, 0, 0, 0);
}

/* opera 隐藏滚动条 */
.__context__menu__box::-o-scrollbar {
  -moz-appearance: none !important;
  background: rgba(0, 255, 0, 0) !important;
}
.__context__menu__box::-o-scrollbar-button {
  background-color: rgba(0, 0, 0, 0);
}
.__context__menu__box::-o-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
.__context__menu__box::-o-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0);
}
.__context__menu__box::-o-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
}
.__context__menu__box::-o-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0);
}
.__context__menu__box::-o-scrollbar-resizer {
  background-color: rgba(0, 0, 0, 0);
}
